{% extends 'base.html.twig' %}

{% block body %}
    <video autoplay loop poster="../../../../web/media/museum.png" id="bgvid">
        <source src="../../../../web/media/museum.mp4" type="video/mp4">

    </video>

    <div class="container">
        <h3 class="title-home">Billetterie du Louvre</h3>

        {{ form_start(formBooking) }}

        <div class="form-row home">
            <div class="col">
                {{ form_row(formBooking.visitDate) }}
            </div>
            <div class="col">
                {{ form_row(formBooking.email) }}
            </div>
            <div class="col">
                {{ form_row(formBooking.ticketNumber) }}
            </div>
            <div class="col">
                {{ form_row(formBooking.ticketType) }}
            </div>
        </div>
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
        {{ form_end(formBooking) }}

    </div>

{% endblock %}

  {% block javascripts %}

  {% endblock %}