{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h3>Billetterie du Louvre</h3>

        {{ form_start(form) }}

{% for ticket in form.tickets %}
    <div class="form-row">
        <div class="col">
            {{ form_row(ticket.lastName) }}
        </div>
        <div class="col">
            {{ form_row(ticket.firstName) }}
        </div>

        <div class="col">
            {{ form_row(ticket.birthDate) }}
        </div>
        <div class="col">
            {{ form_row(ticket.country) }}
        </div>
    </div>
            {{ form_row(ticket.reducePrice) }}

{% endfor %}

        <div class="col">
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
        {{ form_end(form) }}

</div>

{% endblock %}