{% extends 'layout_workFlow.html.twig' %}

{% block content %}
   {% set step = 2 %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
    <h4>{% trans %}Informations Complémentaires{% endtrans %}</h4>
        <hr>

        {{ form_start(form) }}

{% for ticket in form.tickets %}
    <div class="form-row">
        <div class="col">
            {{ form_row(ticket.lastName, {'label':'Prénom'|trans}) }}
        </div>
        <div class="col">
            {{ form_row(ticket.firstName, {'label':'Nom'|trans}) }}
        </div>

        <div class="col">
            {{ form_row(ticket.birthDate, {'label':'Date de naissance'|trans}) }}
        </div>
        <div class="col">
            {{ form_row(ticket.country, {'label':'Pays'|trans}) }}
        </div>
    </div>
            {{ form_row(ticket.reducePrice, {'label':'Prix réduit'|trans}) }}
    <p>* {% trans %}Un justificatif devra être présenté afin de justifier la réduction{% endtrans %}. </p>
        <hr>
{% endfor %}

        <div class="col">
            <input type="submit" class="btn btn-primary" value="{% trans %}Valider{% endtrans %}">
        </div>
        {{ form_end(form) }}

</div>

{% endblock %}