<style type="text/css">
    body,
    html,
    body {
        background: #f3f3f3 !important;
    }
</style>
<!-- move the above styles into your custom stylesheet -->

<spacer size="16"></spacer>

<container>

    <spacer size="16"></spacer>

    <row>
        <columns>
            <h1><img src="{{ absolute_url(asset('media/logo.png')) }}">Billetterie du Louvre </h1>

            <p>{% trans %}Le musée du Louvre vous remercie pour votre commande{% endtrans %}</p>

            <spacer size="16"></spacer>

            <callout class="secondary">
                <row>
                    <columns large="6">
                        <p>
                            <strong>{{ 'Mode de Paiement'|trans }}</strong><br/>
                            Carte Bancaire
                        </p>
                        <p>
                            <strong>{{ 'Adresse Electronique'|trans }}</strong><br/>
                            {{ booking.email }}
                        </p>
                        <p>
                            <strong>{{ 'Référence de la Commande' |trans }}</strong><br/>
                            {{ booking.transactionNumber }}
                        </p>
                    </columns>
                </row>
            </callout>

            <h4>{% trans %}Détail de la Commande{% endtrans %}</h4>

            <p>
                <strong>{% trans %}Date de visite{% endtrans %}</strong><br/>
                {{ booking.visitDate|date('d-m-Y') }}
            </p>

            <table>
                <tr>
                    <th class="titre-tab">{{ 'Nom'|trans }}</th>
                    <th class="titre-tab">{{ 'Prénom'|trans }}</th>
                    <th class="titre-tab">{{ 'Tarif'|trans }}</th>
                </tr>

                {% for ticket in booking.tickets %}

                    <tr>
                        <td class="pt-4-half">{{ ticket.lastName }}</td>
                        <td class="pt-4-half">{{ ticket.firstName }}</td>
                        <td class="pt-4-half">{{ ticket.price }} €</td>
                    </tr>
                {% endfor %}
            </table>
            <hr/>
            <h4> {% trans %}Total Payé{% endtrans %} : {{ booking.price }} € </h4>
            <hr/>

            <h4>{% trans %}Une Question {% endtrans %} ? </h4>

            <p>{% trans %}Pour tous renseignements{% endtrans %}</p>
        </columns>
    </row>
    <row class="footer text-center">
        <columns large="3">
            <p>
                {% trans %}Appelez nous au{% endtrans %} 01 44 00 00 00 <br/>
                Email : contact_louvre@louvre.fr
            </p>
        </columns>
        <columns large="3">
            <p>
                91A rue Ricoli,
                75001 Paris
            </p>
        </columns>
    </row>
</container>
