{% extends 'layout_workFlow.html.twig' %}

{% block content %}
    {% set step = 3 %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h4>{% trans %}Résumé de votre Commande{% endtrans %}</h4>
        <hr>
        <table border="1" class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
            <tr>
                <th class="titre-tab">{{ 'Nom'|trans }}Nom</th>
                <th class="titre-tab">{{ 'Prénom'|trans }}</th>
                <th class="titre-tab">{{ 'Tarifs'|trans }}</th>
            </tr>
            </thead>

{% for ticket in booking.tickets %}

            <tr>
                <td class="pt-3-half">{{ ticket.lastName }}</td>
                <td class="pt-3-half">{{ ticket.firstName }}</td>
                <td class="pt-3-half">{{ ticket.price }} €</td>
            </tr>

{% endfor %}
        </table>
    <div class="form-row">
        <div class="col">
            <h4>{% trans %}Total à Payer {% endtrans %}: {{ booking.price }} € </h4>
        </div>
        <div class="col">
            <a id="btn" class="btn btn-danger"  href="{{path('info') }}">{{ 'Modifier' |trans}}</a>
        </div>
            <div class="col-md-4 col-md-offset-2">
            <form action="" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-label="Paiement"
                        data-key="pk_test_0jbUolf1oNk1TiOAtKSzAEy3"
                        data-amount="{{ booking.price * 100 }}"
                        data-name="Billetterie du Louvre"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-currency="eur"
                        data-zip-code="false"
                        data-email="{{ booking.email }}">
                </script>
                <script>
                    //cacher le bouton de style stripe
                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>

                <button id="btn"  class="btn btn-danger">{{ 'Paiement' |trans}}</button>
            </form>
            </div>


        </div>
    </div>

{% endblock %}