{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <h4 class="Contact">Contactez-moi</h4>
    <hr>

    {{ form_start(formContact) }}
    <div class="form-row">
        <div class="col">
            {{ form_row(formContact.lastName, {'label':'Prénom'}) }}
        </div>

        <div class="col">
            {{ form_row(formContact.firstName, {'label':'Nom'}) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            {{ form_row(formContact.email, {'label':'Adresse Electronique'}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{ form_row(formContact.object, {'label':'Objet du message'}) }}
        </div>

    </div>
        {{ form_end(formContact) }}
    <div class="form-row">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
    </div>
    </div>
    {#<div class="container">#}
        {#<h1 class="Contact">Contactez - Nous</h1>#}
            {#<hr>#}
            {#{{ form_start(formContact) }}#}
            {#<div class="form_row">#}
                {#<div class="col">#}
                    {#<div>#}
                        {#{{ form_row(formContact.lastName, {'label':'Prénom'}) }}#}

                    {#</div>#}
                    {#<div>#}
                        {#{{ form_row(formContact.firstName, {'label':'Nom'}) }}#}

                    {#</div>#}
                {#</div>#}
                {#<div class="col">#}
                    {#<div>#}
                        {#{{ form_row(formContact.email, {'label':'Adresse Electronique'}) }}#}

                    {#</div>#}
                {#</div>#}
                {#<div class="col">#}
                    {#<div>#}
                        {#{{ form_row(formContact.object, {'label':'Objet du message'}) }}#}

                    {#</div>#}
                {#</div>#}
                {#<div class="col">#}
                    {#<div>#}
                        {#{{ form_row(formContact.message, {'label':'Message'}) }}#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#<div class="col">#}
            {#<input type="submit" class="btn btn-primary" value="Valider" style="align-items: center;"/>#}
        {#</div>#}

        {#{{ form_end(formContact) }}#}
    {#</div>#}

{% endblock %}